html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav.mobile{
    display: none;
  }
nav.normal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

nav.normal div {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav.normal div figure {
  margin: 0;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}

nav.normal #logo {
  max-height:50px ;
}

nav.normal h1 {
  margin-left: 5px;
  font-size: 20px;
  color: #000000; 
}

nav.normal ul.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.normal ul.links li {
  margin-left: 20px;
  padding: 0px 20px;
}

nav.normal ul.links li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

main {
    padding: 20px;
    margin: 70px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
main section.img{
    display: flex;
    gap: 100px;
}
main section.videocontent {

    display: flex;
    flex-wrap: wrap;
    background-color: #e0ffe0;
    padding: 0px;
    margin: 10px 0;
    max-width: 60%;
}

main section.videocontent #wish {
    position: absolute;
    top: 30%;
    left:10% ;
    text-align: left;
    color: #fffcfc;
}

main section.videocontent video#adventurevideo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

main section.videocontent article {
    max-width: 50%;
    text-align: center;
}

main section h4 {
    text-align: center;
}

main section img#advpic {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
main section div{
    display: flex;
}

main section div figure#adventurepictures {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    margin:0;
}

main section  div figure#adventurepictures img {
    width: 100%;
    max-width: 300px;
    height: auto;

}

main section div div.p{
    display: flex;
    flex-direction: column;
    background-color: #e0ffe0;
    padding: 20px;
    margin: 10px 0;
}
main section div.p h4{
    text-align: center;
    font-size: 24px;
}
footer {
    margin-top: auto;
    background-color: #ffffff; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_content h4 {
    margin: 0;
    font-size: 18px;
    color: #000000; 
}

.footer_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_content ul li img {
    height: 50px;
    width: auto;
  }

.footer_content ul li h3 {
    margin: 0;
    font-size: 16px;
    color: #000000;
}
@media (max-width: 1366px){
    main section.videocontent #wish {
        position: absolute;
        top: 25%;
        left:10%;  
    }
}


@media (max-width: 1024px){
    main{
        gap: 180px;
    }
    main section.videocontent{
        max-width: 100%;
    }
    main section.videocontent video#adventurevideo {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    main section.videocontent #wish {
        top: 12%;
    }
    main section.videocontent article p {
        font-size: 25px;
        font-family: Calibri;
    }
    main section article h3 {
        font-size: 25px;
    }
    main section img#advpic {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-left: 0px;
        
    }
    main section.img{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }
    main section div.p h4 {
        font-size: 27px;
    }
    main section div.p p {
        text-align: center;
        font-size: 25px;
    }
    main section div figure#adventurepictures {
        width: 360px;
        position: absolute;
        top: 43%;
        right: 10%;
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        margin:0;
    }
}
@media (max-width: 956px){
    main section.videocontent #wish {
        position: absolute;
        top: 45%;
        left:13%;  
    }
    main section.videocontent{
        flex-wrap: unset;
    }
    main section div figure#adventurepictures{
        position: absolute;
        top: 36rem;
        right: 5rem;
    }
    nav.normal{
        display: none;
      }
      li {
        margin: 5px 0;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      nav.mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
    }
    nav.mobile div {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    nav.mobile div figure {
      margin: 0;
      box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
    }
    nav.mobile #logo {
      max-height:50px ;
    }
    nav.mobile li {
        height: 50px;
    }
    nav.mobile ul {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav.mobile ul.active li img{
      max-height:50px
    }
    nav.mobile ul.sidebar li img{
      max-height:50px
    }
    nav.mobile a {
        height: 100%;
        padding: 0 30px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.8); 
        text-decoration: none;
    }
    nav.mobile a:hover {
        background-color: rgba(255, 255, 255, 0.1); 
        color: rgb(63, 61, 61); 
    }
    nav.mobile a.active {
        background-color: rgba(255, 255, 255, 0.3); 
        color: rgb(0, 0, 0); 
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 70vh;
        width: 250px;
        z-index: 999;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 252, 252, 0.8); 
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sidebar li, .sidebara {
        width: 100%;
    }
}

@media (max-width: 440px){
    nav.mobile ul{
        width:35%;
      }
      .sidebar{
        height:25vh;
      }
    main{
        align-items: center;
        margin: 20px;
    }
    main section.img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    main section.videocontent {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: unset;
        max-width: 100%;
    }
    main section.videocontent video#adventurevideo {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    main section div.visited{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section div figure#adventurepictures{
        position:unset;
    }
    main section.videocontent article {
        max-width: 100%;
        text-align: center;
    }
    main section.videocontent h3#wish {
        position: absolute;
        top: 167px;
        left:125px ;
        
    }
    footer{
        margin-top: auto;
      }
    .footer_container{
      height:100px ;
    }
    .footer_content {
      display: flex;
      flex-direction: column;
      align-items: start;
      height:100px;
      
    }
    .footer_content h4 {
      font-size: 24px;
    }
    .footer_content ul {
        display: grid;
        grid-template-columns:  repeat(2, 200px);
        gap: 30px;
    }
    
    .footer_content ul li.Email{
      position: relative;
      bottom: 129px;
      left: 106px;
    }
    .footer_content ul li.Telegram{
      grid-row:1/2 ;
      grid-column: 2/-1;
    }
}