html{
  height: 100%;
}
body {
  background-color: #f0fff0; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
li {
  margin: 5px 0;
}
ul {
  list-style: none;
  padding: 0;
}
header {
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav.mobile{
  display: none;
}
nav.normal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

nav.normal div {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav.normal div figure {
  margin: 0;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}

nav.normal #logo {
  max-height:50px ;
}

nav.normal h1 {
  margin-left: 5px;
  font-size: 20px;
  color: #000000; 
}

nav.normal ul.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.normal ul.links li {
  margin-left: 20px;
  padding: 0px 20px;
}

nav.normal ul.links li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
main {
  padding: 20px;
  text-align: center;
}
.contactlinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  height:72vh;
}
.contactlinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contactlinks ul li {
  background-color: #e0ffe0; 
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin: 50px;
  gap: 10px;
  border-radius: 8px;
}
.contactlinks ul li img {
  height: 70px;
  width: auto;
}
#Email{
  border-radius: 50%;
}
#Instagram{
  border-radius: 100%;
}
#Github{
  border-radius: 10%;
}
.contactlinks ul li h3 {
  margin: 0;
  font-size: 18px;
  color: #000000; 
}
footer {
  margin-top: auto;
  background-color: #ffffff; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_content h4 {
  margin: 0;
  font-size: 18px;
  color: #000000; 
}
.footer_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_content ul li img {
  height: 50px;
  width: auto;
}
.footer_content ul li h3 {
  margin: 0;
  font-size: 16px;
  color: #000000; 
}
@media (max-width: 1024px){
  .contactlinks ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 956px){
  .contactlinks{
    height: unset;
  }
  .contactlinks ul {
   gap: 0px;
  }
  nav.normal{
    display: none;
  }
  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
nav.mobile div {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav.mobile div figure {
  margin: 0;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}
nav.mobile #logo {
  max-height:50px ;
}
nav.mobile li {
    height: 50px;
}
nav.mobile ul {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav.mobile ul.active li img{
  max-height:50px
}
nav.mobile ul.sidebar li img{
  max-height:50px
}
nav.mobile a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8); 
    text-decoration: none;
}
nav.mobile a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: rgb(63, 61, 61); 
}
nav.mobile a.active {
    background-color: rgba(255, 255, 255, 0.3); 
    color: rgb(0, 0, 0); 
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 70vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 252, 252, 0.8); 
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li, .sidebara {
    width: 100%;
}

}
@media (max-width: 440px){
  nav.mobile ul{
    width:35%;
  }
  .sidebar{
    height:25vh;
  }
  .contactlinks {    
    flex-wrap:unset;    
  }
  .contactlinks ul {
    display:flex;
    flex-direction: column;
    
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer{
    margin-top: auto;
  }
  .footer_container{
    height:100px ;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    height:100px;
    
  }
  .footer_content h4 {
    font-size: 24px;
  }
  .footer_content ul {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 30px;
  }

  .footer_content ul li.Email{
    position: absolute;
    bottom: 55px;
    right: 0%;
  }
}