html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0fff0;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav.mobile{
    display: none;
  }
nav.normal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

nav.normal div {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav.normal div figure {
  margin: 0;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}

nav.normal #logo {
  max-height:50px ;
}

nav.normal h1 {
  margin-left: 5px;
  font-size: 20px;
  color: #000000; 
}

nav.normal ul.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.normal ul.links li {
  margin-left: 20px;
  padding: 0px 20px;
}

nav.normal ul.links li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 70px;
}

main h4 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

main section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

main section article {
    background-color: #ccffcc;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

main section article ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

main #profilepic {
    border-radius: 50%;
    width: 280px;
    height: 280px;
}

main .links2 {
    margin: 20px 0;
}

main .links2 ul {
    list-style: none;
    padding: 0;
}

main .links2 ul li {
    margin: 10px 0;
    padding: 20px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

main .links2 ul li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main #skills {
    background-color: #ccffcc;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

main #skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    text-align: left;

}
footer {
    margin-top: auto;
    background-color: #ffffff; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_content h4 {
    margin: 0;
    font-size: 18px;
    color: #000000; 
}

.footer_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_content ul li img {
    height: 50px;
    width: auto;
  }

.footer_content ul li h3 {
    margin: 0;
    font-size: 16px;
    color: #000000; 
}

    @media (max-width: 1024px){
        main{
            flex-direction: row;
            flex-wrap: wrap;
        }
        main h4{
            margin-left: 30rem;
            font-size: 28px;
        }
        main section {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        main section article#Short-Term {
            margin-left: 190px;
        }
        main #profilepic{
            order: -1;
        }
        main section article h3{
            font-size: 24PX;
        }
        main section {
            font-size: 20px;
        }
        main .links2{
            position: absolute;
            top: 33rem;
            right: 15rem;
        }
        main #skills h3{
            font-size: 22PX;
            text-align: left;
        }
        main #skills ul{
            font-size: 20px;
        }
    }
    @media (max-width: 956px){
        main{
            flex-direction:column;
            flex-wrap: unset;
        }
        main h4{
            margin-left: 0rem;
            font-size: 20px;
        }
        main section {
            flex-wrap: unset;
            justify-content: space-around;
        }
        main section article#Short-Term {
            margin-left: 0px;
        }
        main #profilepic{
            order: unset;
            width: 180px;
            height: 180px;
        }
        main section article h3{
            font-size: 20PX;
        }
        main section {
            font-size: 20px;
        }
        main .links2{
            position: unset;
            
        }
        main #skills h3{
            font-size: 19PX;
            text-align: left;
        }
        main #skills ul{
            font-size: 20px;
        }
        nav.normal{
            display: none;
          }
          li {
            margin: 5px 0;
          }
          ul {
            list-style: none;
            padding: 0;
          }
          nav.mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
        }
        nav.mobile div {
          display: flex;
          align-items: center;
          gap: 50px;
        }
        nav.mobile div figure {
          margin: 0;
          box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
        }
        nav.mobile #logo {
          max-height:50px ;
        }
        nav.mobile li {
            height: 50px;
        }
        nav.mobile ul {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        nav.mobile ul.active li img{
          max-height:50px
        }
        nav.mobile ul.sidebar li img{
          max-height:50px
        }
        nav.mobile a {
            height: 100%;
            padding: 0 30px;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.8); 
            text-decoration: none;
        }
        nav.mobile a:hover {
            background-color: rgba(255, 255, 255, 0.1); 
            color: rgb(63, 61, 61); 
        }
        nav.mobile a.active {
            background-color: rgba(255, 255, 255, 0.3); 
            color: rgb(0, 0, 0); 
        }
        
        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            height: 70vh;
            width: 250px;
            z-index: 999;
            backdrop-filter: blur(3px);
            background-color: rgba(255, 252, 252, 0.8); 
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .sidebar li, .sidebara {
            width: 100%;
        }
    }

  @media (max-width: 440px){
    nav.mobile ul{
        width:35%;
      }
      .sidebar{
        height:25vh;
      }
    main{
        align-items: center;

    }
    main h4 {
        position: absolute;
        top: 175px;
        left: 70px;
        font-size: 20px;
    }
    main #profilepic {
        position: absolute;
        top: 660px;
        left: 125px;
    }
    main section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section.goals{
        margin-bottom: 150px;
    }
    main section article {
        background-color: #ccffcc;
        padding: 20px;
        width: 100%;
        border-radius: 10px;
    }
    
    main #skills ul {
        flex-direction: column;
        align-items: center;
        flex-wrap: unset;
        text-align: center;
    
    }
    main #skills h3{
        position: absolute;
        top: 1033px;
        left: 47px;
    }
    footer{
        margin-top: auto;
      }
    .footer_container{
      height:100px ;
    }
    .footer_content {
      display: flex;
      flex-direction: column;
      align-items: start;
      height:100px;
      
    }
    .footer_content h4 {
      font-size: 24px;
    }
    .footer_content ul {
        display: grid;
        grid-template-columns:  repeat(2, 200px);
        gap: 30px;
    }
    
    .footer_content ul li.Email{
      position: relative;
      bottom: 129px;
      left: 106px;
    }
    .footer_content ul li.Telegram{
      grid-row:1/2 ;
      grid-column: 2/-1;
    }
  }